*{
  box-sizing: border-box;
}

body {
  color: rgb(60,60,60);
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-weight:  300;
  line-height: 1.6rem;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

/* INCLUDE FONTS */

@font-face {
    font-family: 'sweet-sans';
    src: url('../fonts/sweet-sans.woff2') format('woff2'),
         url('../fonts/sweet-sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* FONTS */

.h1{
  font-size: 2.5rem;
}
h1, h2, h3, h4, header, nav .button, .tags {
    font-family: 'sweet-sans';
}

/* helpers-generic */

.container{
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.container-small{
  max-width: 768px;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* helpers-text */

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.banner-text{
    /* background-color: rgba(255, 255, 255, 0.54); */
    font-size: 2rem;
}

[class*=grid] .padded-1,
.padded-1 {
  padding: 1%;
}

[class*=grid] .padded-3,
.padded-3 {
  padding: 3%;
}

[class*=grid] .padded-5,
.padded-5 {
  padding: 5%;
}

/* helpers brand */

.color-primary {
  color: #ED4997;
}

.color-secondary {
  color: #F6EAF0;
}

.color-white{
  color: white;
}

.color-black{
  color: black;
}

.background-primary{
  background-color: #ED4997;
}

.background-secondary{
  background-color: #F6EAF0;
}

.featured-text {
  background-color: green;
  color: #ED4997;
  padding:0.8rem;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/* HELPERS position */

.position-fixed{
  position: fixed;
}

.position-absolute{
  position: absolute;
}

.position-relative{
  position: relative;
}

.padding-all {
  padding: 1rem;
}

.margin-bottom {
  margin-bottom: 2.5rem;
}

/* buttons & tags */

.tags {
    text-decoration: none;
    padding: 0.8rem;
    display: block;
    text-align:center;
    margin: 0.8rem;
    border: 1px solid #ED4997;
    border-radius: 1px;
}

.tags:hover {
  border: 1px solid #ED4997;
  color: white;
  background-color: #ED4997;
  transition: 0.5s all;
}


/* header */

header{
  width: 100%;
  z-index: 5;
}

.logo{
  width: 45px;
  height: auto;
}

.fab{
  color: #ED4997;
  font-size: 2rem;
}

header nav a{
  display: inline-block;
  padding: 0.2rem;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0.2rem;
}

header nav a:hover {
  border-bottom: 1px solid #ED4997;
}

/* header{
  background-color: black;
  color: white;
} */



/* tagline */

.tagline{
  background-image: url("../img/tagline.jpg");
  min-height: 75vh;
  background-size: cover;
  color: #ED4997;
}

.tagline h2{
  background-color: white;
  padding: 1rem;
}



/* ABOUT */

.about{
  border: solid 45px white;
  line-height: 2rem;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.3rem;
  text-align: left;
}

/* MENUS */

.menus{
  min-height: 75vh;
  border: solid 10px white;
}

.menus p{
  padding: 5rem;
}

.menus p span{
  background-color: white;
  padding: 1rem;
  display: block;
  color: #ED4997;
  line-height: 1.25;
}

.cake-menu, .dessert-bar-menu, .catering-menu, .cakes {
  background-size: cover;
  color: white;
  background-position: center;
}

.cake-menu{
  background-image: url("../img/cake.jpg");
  margin-right: right: 2%;
}

.dessert-bar-menu{
background-image: url("../img/dessert-bar.jpg");
}

.catering-menu{
  background-image: url("../img/platters.jpg");
}

.coming-soon{
  background-color: #F6EAF0;
  color: #ED4997;
  border: solid 45px white;
  line-height: 2rem;
  font-size: 1.3rem;
}

/* MENUS */

.cakes{
  background-image: url("../img/cake-menu.jpg");
  padding-top: 3%;
  padding-bottom: 5%;
  position: relative;
  line-height: 1.7rem;
  font-size: 1.2rem;
}

.cakes li{
  list-style: none;
}

/* background-image */

.cakes-content{
  z-index: 2;
  position: relative;
}

.cakes-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .12;
}

.dessert-bar{
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 2rem;
  margin-top: 3%;
  margin-bottom: 3%;

}
.dessert-bar h2{
  line-height: 1;
}

.platters{
  background-image: url("../img/platter-menu.jpg");
  background-size: cover;
  color: white;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 3%;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

/* VEGAN ICE CREAM */

.vegan-ice-cream{
  background-color: #F6EAF0;
  color: #ED4997;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  line-height: 1.7rem;
}

.vanilla {
  border: solid 1px #ED4997;
  margin-top: 3%;
  margin-bottom: 3%;
  line-height: 1.7rem;
}

.passionfruit {
  border: solid 1px #ED4997;
  margin-top: 3%;
  line-height: 1.7rem;
}

.chocolate {
  border: solid 1px #ED4997;
  margin-top: 3%;
  line-height: 1.7rem;

}

.recipes{
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  color: black;
  font-size: 1.3rem;
  border: solid 2px green;
}

/* CONTACT SECTION */

.contact {
  border: solid 1px #ED4997;
}

/* CONTACT FORM */

form * {
  background-color: black;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 3px;
  color: white;
}

form button {
  background: white;
  border: solid 2px #ED4997;
  color: #ED4997
}

form textarea {
  height: 200px;
}

.footer{
  background-color: black;
  text-align: center;
  color: #F6EAF0;
  padding-top: 1%;
  padding-bottom: 1%;
  border-top: solid 3px #ED4997;
}

/* blog posts */

.blog-post{
  max-width: 900px;
  margin: auto;
  color: gray;
}

.post-image { /* this is the small image on the recipes page or any blog loops */
  background-size: cover;
  background-position: center;
  padding-bottom: 90%;
}

.post-block { /* this is the block of content in the blog post loops */
    padding: 3%;
    text-decoration: none;
}
/* this is the link inside the post block that links to the blog post itself, it has the title, picture etc inside it */
.post-block a {
    text-decoration: none;
    display: block;
}
/* .post-block a:hover {
    color: pink;
} */
.post-block a:hover .post-image {
    /* if you want to do soemthing to the image on hover, add that here */
}
