---
layout: default

---

    <section class="grid-middle tagline text-center container">
      <h2 class="banner-text">
          refined sugar free. <span class="mobile-stack mobile-hide">dairy free.</span> mostly organic.
      </h2>
    </section>

    <section class="about font background-primary color-white text-center">
      <div class="container-small">
      <p><span class="color-black">THE COMFORT CUPBOARD is a POP-UP BAKERY</span> specialising in unique cakes and other sweet stuff. We don’t use refined sugar or dairy and use organic ingredients where possible. We specialize in gluten free + vegan and dabble in paleo so we pretty much have you all covered.</p>

      <p>After cooking professionally since 2005, qualifying in both Commercial Cookery and Patisserie (self-taught), after travelling the world gaining inspiration, and most importantly, after countless experiments in the kitchen, I baked my brainchild into a business!</p>

      <p>The concept was built around creating your typical naughty bakery fare in a less typical naughty way. Replacing the usual white sugar, butter, cream, cocoa with more nourishing (organic) ingredients like spelt and besan flours, coconut sugar, coconut oil and decorating cakes naturally with freeze dried fruit, dried coconut, rose petals, cake crumb and nuts.</p>

      <p>I’m always experimenting with new and classic ideas to create recipes that not only taste amazing but are more beneficial to a healthier, cleaner lifestyle.</p>

      CARAVAN OPEN SATURDAYS 8:30 – 11:30am @DREAMER’S HILL, KARRATHA
      </p>
    </div>
    </section>

    <section class="grid-middle menus text-center sweet-sans container">
      <div class="col-4_xs-12 cake-menu menus grid-middle-center">
        <h2 class="banner-text"><span>CAKES MADE TO ORDER</span></h2>
      </div>
      <div class="col-4_xs-12 catering-menu menus grid-middle-center">
        <h2 class="banner-text"><span>PLATTERS FOR YOUR NEXT EVENT</span></h2>
      </div>
      <div class="col-4_xs-12 dessert-bar-menu menus grid-middle-center">
        <h2 class="banner-text"><span>DESSERT BAR COMING SOON</span></h2>
      </div>

    </section>

    <section class="coming-soon color-primary text-center sweet-sans">
      <div class="container-small">
      <h2>
        VEGAN ICE CREAM COMING SOON!
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </section>

    <section class="grid sweet-sans container-small contact margin-bottom">
      <div class="col-12">
        <div class="padding-all">
        <h2>GET IN TOUCH!</h2>
        {% include contact-form.html %}
      </div>
    </div>
  </section>




    <!-- <section class="grid"></div>
      <div class="col-6">
        <p>CONTACT FORM</p>
        {% include contact-form.html %}
      </div>
      <div class="col-6"><p>SUSCRIBE</p></div> -->

      <!-- <div class="col-4">
        <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">facebook</a>
        <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">instagram</a>
      </div> -->

    <!-- </section> -->
