---
layout: default
---

    <section class="grid-middle tagline text-center">
      <div class="container color-white mobile-stack mobile-hide">
      <h1>WELCOME TO THE COMFORT CUPBOARD. A PLACE WHERE ALL OF YOUR REFINED SUGAR FREE DREAMS COME TRUE.</h1>
    </div>
      </section>

    <section class="about font background-white color-black text-center">
      <div class="container">
      <h3><span class="color-primary lh">Hello, my name is Katie and I’m addicted to food. If I’m not eating it, I’m creating it and if I’m not creating it I’m thinking about eating or creating it. I am the founder and creator here at The Comfort Cupboard</h3>

<p>I fell into cooking in 2004 and have worked in kitchens across Australia, Auckland, London and Cork but only became qualified in commercial cookery and pastry in 2012 upon returning to Australia. Cooking is a true passion and obsession for me; the qualifications didn’t actually matter.</p>

<p>The Comfort Cupboard was born out of the constant craving for sweet stuff but wanting to be kind to my body at the same time. I wanted to eat “fun foods”; you know the ones: donuts, cookies, cakes, lollies, chocolate, ice cream, desserts; the ones that bring you endless comfort, but wanted to stay in shape at the same time - which might I add - I like to do with as little effort possible, eating the foods I want to eat whenever I want thank you very much.</p>

I really felt it was time these foods had a makeover to keep up with the health conscious world a lot of us choose to live in so in 2014 upon returning from another stint travelling the world, I was straight back in the kitchen. And by straight back in I literally mean the week we flew back I was in my parent's kitchen experimenting with the cannelloni bean frosting recipe idea I had while staying in an air bnb in Buenos Aires. This is now the Comfort Cupboard’s signature frosting.

Still to this day I’m always experimenting


      </p>
    </div>
    </section>


<div class='embedsocial-instagram' data-ref="df362d386105510b86b7da824348120771758cb7"></div><script>(function(d, s, id){var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/embedscript/in.js"; d.getElementsByTagName("head")[0].appendChild(js);}(document, "script", "EmbedSocialInstagramScript"));</script>

    <!-- <section class="grid-middle menus text-center sweet-sans container">
      <div class="col-4_xs-12 cake-menu menus grid-middle-center">
        <h2 class="banner-text"><span>CAKES MADE TO ORDER</span></h2>
      </div>
      <div class="col-4_xs-12 catering-menu menus grid-middle-center">
        <h2 class="banner-text"><span>PLATTERS FOR YOUR NEXT EVENT</span></h2>
      </div>
      <div class="col-4_xs-12 dessert-bar-menu menus grid-middle-center">
        <h2 class="banner-text"><span>DESSERT BAR COMING SOON</span></h2>
      </div>

    </section> -->

    <!-- <section class="coming-soon color-primary text-center sweet-sans">
      <div class="container-small">
      <h2>
        VEGAN ICE CREAM COMING SOON!
      </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    </section> -->

    <!-- <section class="grid sweet-sans container-small contact margin-bottom">
      <div class="col-12">
        <div class="padding-all">
        <h2>GET IN TOUCH!</h2>
        {% include contact-form.html %}
      </div>
    </div>
  </section> -->




    <!-- <section class="grid"></div>
      <div class="col-6">
        <p>CONTACT FORM</p>
        {% include contact-form.html %}
      </div>
      <div class="col-6"><p>SUSCRIBE</p></div> -->

      <!-- <div class="col-4">
        <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">facebook</a>
        <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">instagram</a>
      </div> -->

    <!-- </section> -->
