---
layout: default

---

<section class="cakes sweet-sans text-left">
  <div class="cakes-content">
  <h2>CAKES</h2>
  <h3><span class="color-primary">FLAVOURS</span></h3>
  <ul>
    <li>LEMON</li>
    <li>VANILLA</li>
    <li>CHOCOLATE</li>
    <li>LEMON RASPBERRY</li>
    <li>CHOCOLATE RASPBERRY</li>
    <li>CHOCOLATE SALTED CARAMEL</li>
  </ul>
  <h3><span class="color-primary">SIZES</span></h3>
  <p>Mini from $35 (6-8 serves)<p>
  <p>Medium from $65 (12-16 serves)<p>
  <p>Large from $105 (24 serves)</p>
  <p>BABYCAKES (15) $40</p>
  <p>Load your cake with DONUTS + COOKIES! Prices start from $70
  <h3><span class="color-primary">1 WEEK'S NOTICE IS REQUIRED FOR ALL CAKES</span></h3>
  <p>Our cakes are decorated naturally and according to occasion/person</p>
  <h5>All cakes are gluten, dairy and refined sugar free</h5>
  <!-- <h2><a href="#contact-form" class="color-primary button">ORDER CAKES HERE!</a></h2> -->
  </div>
    <div class="cakes-overlay"></div>

</section>

<section class= "color-primary background-primary sweet-sans dessert-bar text-center">
  <h2>
    DESSERT BAR<br>COMING SOON!</br>
  </h2>
</section>

<!--
<section class="platters sweet-sans text-center container">
  <h2>
    PLATTERS
  </h2>
    <p>Mixed platters of Mini Cookies, Mini Cream Puffs, Brownies, Babycakes and Stuffed Dates.</p>
    <p>Prices start at $80.</p>
    <!-- <h2><a href="#contact-form" class="color-primary button">GET A QUOTE FOR YOUR NEXT EVENT</a></h2> -->
</section>

<!-- <section class="grid sweet-sans container-small contact margin-bottom background-primary">
  <div class="col-12">
    <div class="padding-all">
    <!-- <h2>GET IN TOUCH!</h2> -->
    <!-- {% include contact-form.html %} -->
  </div>
</div>
  <!-- <div class="col-6 background-secondary">
    <div class="padding-all">
    <h2>STOCKISTS</h2>
    <ul>
      <li> Empire6714 </li>
      <li> Fiorita Deli </li>
    </ul>
  </div>
</div> -->
</section>

<!-- <section class="grid"></div>
  <div class="col-4"><p>ORDER A CAKE OR CATERING</p>
    {% include contact-form.html %}
  </div>
  <div class="col-4">
    <p><button type="button">ORDER CAKES + PLATTERS HERE!</p>
  </div>
  <div class="col-4">
    <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">facebook</a>
    <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">instagram</a>
  </div>
</section> -->
