
<!-- <div class="editable">
  <!-- <img src="/img/logo.jpg"> -->
  <!-- <h2> About Me </h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
</div> -->

<div class="text-center">

  <!-- <h2 class="featured-text">SERIES</h2> -->
<section class="tag-section">
  <select>
    {% for category in site.categories %}
    {% capture category_name %}{{ category | first }}{% endcapture %}
      <option value="/{{ category_name }}" class="tags">{{ category_name }}</option>
    {% endfor %}
</select>
  <nav>
  {% for category in site.categories %}
  {% capture category_name %}{{ category | first }}{% endcapture %}
    <a href="/{{ category_name }}" class="tags">{{ category_name }}</a>
  {% endfor %}
  </nav>
</section>
</div>

<!-- <div>
  <a href="#">
    <img src="/img/dessert-bar.jpg">
  </a>
</div> -->
