<header>
  <div class="grid-middle container">
    <div class="col-3_sm-hidden">
      <a href="/">
        <img class="logo mobile-hide" src="/img/logo.jpg" alt="The Comfort Cupboard logo">
      </a>


    </div>

    <div class="col-6_sm-12">
      <a class="text-center logo-text" href="/index">
        THE <span class="color-primary">COMFORT</span> CUPBOARD
      </a>
      <nav class="text-center sweet-sans mobile-hide color-black">
        <a href="/menus">Menus</a>
        <a href="/vegan-ice-cream">Ice Cream</a>
        <a href="/recipes">Recipes</a>
      </nav>
      <div class="burger-button mobile-show">
          <span class="burger-top"></span>
          <span class="burger-middle"></span>
          <span class="burger-bottom"></span>
      </div>
      <div class="burger-menu">
          <nav>
            <a href="/menus">Menus</a>
            <a href="/vegan-ice-cream">Ice Cream</a>
            <a href="/recipes">Recipes</a>
          </nav>
          <nav class="social">
            <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">
                  <i class="fab fa-instagram"></i>

              </a>
            <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">
              <i class="fab fa-facebook-square"></i>
            
            </a>
          </nav>
      </div>
    </div>

    <div class="col-3_sm-hidden">
      <nav class="text-right">


        <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
        <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </nav>
    </div>
  </div>
</header>
