<header>
  <div class="grid-middle container">
    <div class="col-3">
      <a href="/">
        <img class="logo" src="/img/logo.jpg" alt="The Comfort Cupboard logo">
      </a>


    </div>

    <div class="col-6">
      <h1 class="text-center">
        THE <span class="color-primary">COMFORT</span>CUPBOARD
      </h1>
      <nav class="text-center">
        <a href="/menus">Menus</a>
        <a href="/vegan-ice-cream">Ice Cream</a>
        <a href="/recipes">Recipes</a>
      </nav>
    </div>

    <div class="col-3">
      <nav class="text-right">


        <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
        <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">
          <i class="fab fa-facebook-square"></i>
        </a>
      </nav>
    </div>
  </div>
</header>
