<!-- Begin MailChimp Signup Form -->

<div class="container-small text-center">
  <h3>WANT TO KNOW OUR SECRETS?</h3>
</div>
<div id="mc_embed_signup">
  <form action="https://thecomfortcupboard.us18.list-manage.com/subscribe/post?u=8b34ffd634bdc85ed5e7dba83&amp;id=5ad08ae414" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

  	 <input class="color-primary text-center" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="EMAIL">

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_8b34ffd634bdc85ed5e7dba83_5ad08ae414" tabindex="-1" value="">
      </div>
    <!-- do not touch above this -->
    <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button">


  </form>
</div>

<!--End mc_embed_signup-->
