<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!--META -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <!--css -->
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gridlex.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans|Roboto:300,400|Source+Sans+Pro:300,400" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">




    <link rel="stylesheet" href="/css/main.css">

  </head>

  <body class="menu-hidden">

    {% include site-header.html %}

    {{ content }}

    <!-- site footer goes here -->
    <footer class="grid footer">
      <div class="col-4_sm-12 padded-5 contact-background"><h2 class="color-black">GET IN TOUCH</h2> {% include contact-form.html %}</div>

      <div class="col-4_sm-12 padded-5 logo-footer"> 
        <h6> Making fun foods less naughty since 2014
          <!-- <br><span class="color-white">katie@thecomfortcupboard.com.au</br></span> -->
        </h6>
        <nav class="social social-footer">
          <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">
                <i class="fab fa-instagram"></i>

            </a>
          <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">
            <i class="fab fa-facebook-square "></i>

          </a>
        </nav>


      </div>

      <div class="col-4_sm-12 padded-5 subscribe-background"> {% include subscribe.html %}
      <h2>We promise to never spam you, ever!</h2>
      </div>










    </footer>




    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  </body>
</html>
