<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5eca0f33f1b989001209c902&product=inline-share-buttons" async="async"></script>

    <!--META -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <!--css -->
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gridlex.min.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans|Roboto:300,400|Source+Sans+Pro:300,400" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">




    <link rel="stylesheet" href="/css/main.css">

  </head>

  <body class="menu-hidden">

    {% include site-header.html %}

    {{ content }}

    <!-- site footer goes here -->
    <footer class="grid footer">
      <div class="col-4_sm-12 padded-5 contact-background">
        <h2 class="color-white">GET IN TOUCH</h2>
         {% include contact-form.html %}
       </div>

      <div class="col-4_sm-12 color-white padded-5 logo-footer">
        <h3> WE CREATE UNIQUE SWEET STUFF.<br> NO REFINED SUGAR OR DAIRY.</br> SOME GLUTEN FREE, SOME VEGAN.<br>WE GOT YOU ALL COVERED.</br>
          <!-- <br><span class="color-white">katie@thecomfortcupboard.com.au</br></span> -->
        </h3>
        <nav class="social social-footer">
          <a href="https://www.instagram.com/thecomfortcupboard/" target="_blank">
                <i class="fab fa-instagram"></i>

            </a>
          <a href="https://www.facebook.com/thecomfortcupboard/?ref=bookmark" target="_blank">
            <i class="fab fa-facebook-square "></i>

          </a>
        </nav>

      </div>


      <div class="col-4_sm-12 padded-5 subscribe-background">
        <div>
         {% include subscribe.html %}
         <h4>Promise not to spam you</h4>
       </div>
      </div>





    </footer>

    <section>
    <h6 class="text-center color-black">&copy; THE COMFORT CUPBOARD 2020. All rights reserved. Site design by me.</h6>
  </section>





    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>




  </body>
</html>
