<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!--META -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

    <!--css -->
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/gridlex.min.css">
    <link rel="stylesheet" href="/css/main.css">

  </head>

  <body>

    {% include site-header.html %}

    {{ content }}

    <!-- site footer goes here -->
    <footer class="footer">
      <h6> We are located in Karratha, Western Australia
      </h6>
    </footer>


    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

  </body>
</html>
